{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins":
    [
        "@typescript-eslint",
        "no-loops"
    ],
    "extends":
    [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "for-direction": "warn",
        "no-loops/no-loops": "warn",
        "lines-between-class-members": "off",
        "no-console": ["warn", { "allow": ["warn", "error"] }],
        "getter-return": [ "warn", { "allowImplicit": true }],
        "newline-before-return": "warn",
        "no-compare-neg-zero": "warn",
        "no-cond-assign": ["warn", "always"],
        "no-dupe-args": "warn",
        "no-dupe-else-if": "warn",
        "no-dupe-keys": "warn",
        "no-duplicate-case": "warn",
        "@typescript-eslint/no-inferrable-types": "off",
        "no-empty": "warn",
        "no-ex-assign": "warn",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": ["warn", "all", { "enforceForArrowConditionals": false }],
        "no-extra-semi": "warn",
        "no-func-assign": "warn",
        "no-import-assign": "warn",
        "no-inner-declarations": ["warn", "both"],
        "no-irregular-whitespace": ["warn", { "skipComments": true }],
        "no-loss-of-precision": "warn",
        "no-regex-spaces": "warn",
        "no-sparse-arrays": "warn",
        "no-template-curly-in-string": "warn",
        "no-unexpected-multiline": "warn",
        "no-unreachable": "warn",
        "no-eq-null": "warn",
        "no-empty-pattern": "warn",
        "no-empty-function": "warn",
        "max-classes-per-file": ["warn", 2],
        "eqeqeq": "warn",
        "dot-location": ["warn", "property"],
        "default-case": "warn",
        "strict": ["warn", "never"],
        "yoda": "warn",
        "no-useless-return": "warn",
        "no-useless-escape": "off",
        "no-return-assign": "warn",
        "no-redeclare": "warn",
        "no-new": "warn",
        "no-multi-str": "warn",
        "no-multi-spaces": "warn",
        "no-floating-decimal": "warn",
        "no-unused-vars": "warn",
        "array-bracket-newline": ["warn", { "multiline": true, "minItems": 2 }],
        "array-bracket-spacing": ["warn", "always"],
        "block-spacing": "warn",
        "brace-style": ["warn", "allman", { "allowSingleLine": true }],
        "camelcase": ["warn", { "ignoreImports": true }],
        "comma-dangle": ["warn", "always-multiline"],
        "comma-spacing": ["warn", { "before": false, "after": true }],
        "computed-property-spacing": ["warn", "always"],
        "eol-last": ["warn", "always"],
        "implicit-arrow-linebreak": ["warn", "beside"],
        "jsx-quotes": ["warn", "prefer-double"],
        "lines-around-comment": ["warn", { "beforeBlockComment": true }],
        "multiline-comment-style": ["warn", "starred-block"],
        "no-multiple-empty-lines": "warn",
        "no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
        "no-underscore-dangle": "warn",
        "no-unneeded-ternary": "warn",
        "no-whitespace-before-property": "warn",
        "object-curly-spacing": ["warn", "always"],
        "padded-blocks": ["warn", "never"],
        "quotes": ["warn", "single"],
        "semi": "warn",
        "spaced-comment": ["warn", "always"],
        "prefer-const": "warn",
        "no-var": "warn",
        "arrow-spacing": "warn",
        "no-trailing-spaces": ["warn", { "skipBlankLines": true, "ignoreComments": true  }],
        "no-tabs": "warn"
    }
}
